@media print {
  .no-print {
    display: none !important;
  }

  .fin-statement__print-area {
    border: none;
    padding: 0;
  }

  .fin-statement__table {
    font-size: 11pt;

    th,
    td {
      padding: 0.4rem 0.3rem;
    }
  }
}
