<!------------------------------------ Première partie affichage de la pge de la saisie de l'email  -->
<div class="forgot-page" *ngIf="currentPage === 'forgot'">
    <div class="forgot-card card">
        <!-- ------------------------------ Ici mon header  -->
        <div class="forgot-header">
            <div class="logo">
                <i class="material-icons">recycling</i>
                <span>WasteManager</span>
            </div>
            <h1 class="forgot-title">Mot de passe oublié</h1>
            <p class="forgot-subtitle">
                Pour réinitialiser votre mot de passe, veuillez entrer l'adresse email utilisée lors de votre
                inscription.
            </p>
        </div>




        <form [formGroup]="forgotForm" (ngSubmit)="forgotSubmit()">
            <div class="form-group">
                <label class="form-label" for="email">
                    <i class="material-icons">email</i>
                    Adresse email
                </label>
                <input type="email" id="email" name="email" class="form-control" formControlName="email"
                    placeholder="votre@email.com" />
                <div class="error-message" *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
                    Veuillez saisir une adresse email valide.
                </div>
            </div>
            <input type="submit" value="Demande de réinitialisation de mot de passe" class="subtmitButon"
                [disabled]="loading">
        </form>
        <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>

    </div>
</div>

<!------------------------------------ Deuxième partie aisie et vérification du code otp  -->
<div class="code-page" *ngIf="currentPage === 'code'">
    <div class="forgot-card card">
        <h2>Entrez le code reçu</h2>
        <div class="otp-inputs">
            <input #otpBox *ngFor="let digit of otpArray; let i = index" type="text" maxlength="1" class="otp-box"
                (input)="onOtpInput($event, i)" (keydown)="onOtpKeyDown($event, i)" [autofocus]="i === 0"
                inputmode="numeric" pattern="\d*" />

        </div>
        <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>
        <div class="twoButton">
            <button (click)="verifyOtpCode()" class="subtmitButon" [disabled]="loading">
                Valider
            </button>
            <button (click)="resendCode()" class="subtmitButon" [disabled]="loading">Renvoyer le code</button>

        </div>
    </div>
</div>

<!------------------------------------ Troisième partie saisie du nouveau mot de passe  -->
<div class="reset-page" *ngIf="currentPage === 'reset'">
    <div class="forgot-card card">
        <h2>Réinitialisez votre mot de passe</h2>
        <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()">
            <div class="form-group">
                <label class="form-label" for="newPassword">
                    <i class="material-icons">lock</i>
                    Nouveau mot de passe
                </label>
                <input type="password" id="newPassword" placeholder="Nouveau mot de passe"
                    formControlName="newPassword" />
                <div class="error-message"
                    *ngIf="resetForm.get('newPassword')?.hasError('weakPassword') && resetForm.get('newPassword')?.touched">
                    Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule et un chiffre.
                </div>

            </div>
            <div class="form-group">
                <label class="form-label" for="confirmNewPassword">
                    <i class="material-icons">lock</i>
                    Confirmez le mot de passe
                </label>
                <input type="password" id="confirmNewPassword" placeholder="Confirmez le mot de passe"
                    formControlName="confirmNewPassword" />
            </div>
            <button type="submit" [disabled]="loading || resetForm.invalid">Confirmé</button>
        </form>
        <div class="error-message"
            *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmNewPassword')?.touched">
            Les mots de passe ne correspondent pas.
        </div>

        <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>
    </div>
</div>
