<!------------------------------------ Première partie affichage de la pge de la saisie de l'email  -->
@if (currentPage === 'forgot') {
  <div class="forgot-page">
    <div class="forgot-card card">
      <!-- ------------------------------ Ici mon header  -->
      <div class="forgot-header">
        <div class="logo">
          <i class="material-icons">recycling</i>
          <span>ZéroDéchet+</span>
        </div>
        <h1 class="forgot-title">Mot de passe oublié</h1>
        <p class="forgot-subtitle">
          Pour réinitialiser votre mot de passe, veuillez entrer l'adresse email utilisée lors de votre
          inscription.
        </p>
      </div>
      <form [formGroup]="forgotForm" (ngSubmit)="forgotSubmit()">
        <div class="form-group">
          <label class="form-label" for="email">
            <i class="material-icons">email</i>
            Adresse email
          </label>
          <input type="email" id="email" name="email" class="form-control" formControlName="email"
            placeholder="votre@email.com" />
            @if (forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched) {
              <div class="error-message">
                Veuillez saisir une adresse email valide.
              </div>
            }
          </div>
          <button type="submit" value="Demande de réinitialisation de mot de passe" class="subtmitButon"
          [disabled]="loading" title="Demande de réinitialisation de mot de passe">Demande de réinitialisation</button>
        </form>
        @if (successMessage) {
          <p class="success-text">{{ successMessage }}</p>
        }
        @if (errorMessage) {
          <p class="error-text">{{ errorMessage }}</p>
        }
      </div>
    </div>
  }

  <!------------------------------------ Deuxième partie aisie et vérification du code otp  -->
  @if (currentPage === 'code') {
    <div class="code-page">
      <div class="forgot-card card">
        <h2>Entrez le code reçu</h2>
        <div class="otp-inputs">
          @for (digit of otpArray; track digit; let i = $index) {
            <input #otpBox type="text" maxlength="1" class="otp-box"
              (input)="onOtpInput($event, i)" (keydown)="onOtpKeyDown($event, i)" [autofocus]="i === 0"
              inputmode="numeric" pattern="\d*" />
          }
        </div>
        @if (errorMessage) {
          <p class="error-text">{{ errorMessage }}</p>
        }
        @if (successMessage) {
          <p class="success-text">{{ successMessage }}</p>
        }
        <div class="twoButton">
          <button (click)="verifyOtpCode()" class="subtmitButon" [disabled]="loading">
            Valider
          </button>
          <button (click)="resendCode()" class="subtmitButon" [disabled]="loading">Renvoyer le code</button>
        </div>
      </div>
    </div>
  }

  <!------------------------------------ Troisième partie saisie du nouveau mot de passe  -->
  @if (currentPage === 'reset') {
    <div class="reset-page">
      <div class="forgot-card card">
        <h2>Réinitialisez votre mot de passe</h2>
        <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()">
          <div class="form-group">
            <label class="form-label" for="newPassword">
              <i class="material-icons">lock</i>
              Nouveau mot de passe
            </label>
            <input type="password" id="newPassword" placeholder="Nouveau mot de passe"
              formControlName="newPassword" />
              @if (resetForm.get('newPassword')?.hasError('weakPassword') && resetForm.get('newPassword')?.touched) {
                <div class="error-message"
                  >
                  Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule et un chiffre.
                </div>
              }
            </div>
            <div class="form-group">
              <label class="form-label" for="confirmNewPassword">
                <i class="material-icons">lock</i>
                Confirmez le mot de passe
              </label>
              <input type="password" id="confirmNewPassword" placeholder="Confirmez le mot de passe"
                formControlName="confirmNewPassword" />
              </div>
              <button type="submit" [disabled]="loading || resetForm.invalid">Confirmé</button>
            </form>
            @if (resetForm.errors?.['mismatch'] && resetForm.get('confirmNewPassword')?.touched) {
              <div class="error-message"
                >
                Les mots de passe ne correspondent pas.
              </div>
            }
            @if (successMessage) {
              <p class="success-text">{{ successMessage }}</p>
            }
          </div>
        </div>
      }
