<!------------------------------------ Première partie affichage de la pge de la saisie de l'email  -->

<div class="forgot-page" *ngIf="currentPage === 'forgot'">
    <div class="forgot-card card">
        <!-- ------------------------------ Ici mon header  -->
        <div class="forgot-header">
            <div class="logo">
                <i class="material-icons">recycling</i>
                <span>WasteManager</span>
            </div>
            <h1 class="forgot-title">Mot de passe oublié</h1>
            <p class="forgot-subtitle">
                Pour réinitialiser votre mot de passe, veuillez entrer l'adresse email utilisée lors de votre
                inscription.
            </p>
        </div>



        
        <form [formGroup]="forgotForm" (ngSubmit)="forgotSubmit()">
            <div class="form-group">
                <label class="form-label" for="email">
                    <i class="material-icons">email</i>
                    Adresse email
                </label>
                <input type="email" id="email" name="email" class="form-control" formControlName="email"
                    placeholder="votre@email.com" />

                
                <div class="error-message" *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
                    Veuillez saisir une adresse email valide.
                </div>
            </div>

            <input type="submit" value="Demande de réinitialisation de mot de passe" class="subtmitButon"
                [disabled]="loading">
        </form>

        
        <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>

    </div>
</div>

<!------------------------------------ Deuxième partie aisie et vérification du code otp  -->

<div class="code-page" *ngIf="currentPage === 'code'">
    <div class="forgot-card card">
        <h2>Entrez le code reçu</h2>

        
        <div class="otp-inputs">
            <input #otpBox *ngFor="let digit of otpArray; let i = index" type="text" maxlength="1" class="otp-box"
                [value]="otp[i]" (input)="onOtpInput($event, i)" (keydown)="onOtpKeyDown($event, i)"
                [autofocus]="i === 0" />
        </div>

        
        <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>

        
        <div class="twoButton">
            <button (click)="verifyOtpCode()" class="subtmitButon" [disabled]="loading">
                Valider
            </button>
            <button (click)="goToForgotPage()" class="subtmitButon">
                Retour
            </button>
        </div>
    </div>
</div>


<!------------------------------------ Troisième partie saisie du nouveau mot de passe  -->

<div class="reset-page" *ngIf="currentPage === 'reset'">
    <div class="forgot-card card">
        <h2>Réinitialisez votre mot de passe</h2>
        <input type="password" placeholder="Nouveau mot de passe">
        <input type="password" placeholder="Confirmez le mot de passe">
        <button>Changer le mot de passe</button>
    </div>
</div>