<div class="{{ currentUser?.role === 'client' ? 'incidents-list-client' : 'incidents-list'}} grid-3">
  <!-- État vide pour les incidents *ngIf="!isLoadingIncidents" -->
  <!-- <div *ngIf="!incidents.length" class="empty-state">
    <i class="material-icons">report_problem</i>
    <h3>Aucun incident trouvé</h3>
    <p>
      Aucun incident ne correspond aux critères sélectionnés pour le moment.
    </p>
  </div> -->

  <div *ngFor="let incident of incidents" class="incident-card card">
    <div>
      <div class="incident-header">
        <div
          class="incident-severity"
          [class]="'severity-'+incident.severity.toLowerCase()"
        >
          <i class="material-icons"
            >{{ getSeverityIcon(incident.severity.toLowerCase()) }}</i
          >
          <span
            >{{ getSeverityText(incident.severity.toLowerCase()) ?
            getSeverityText(incident.severity.toLowerCase()) : "Faible" }}</span
          >
        </div>
        <div class="incident-status">
          <span
            class="status-badge"
            [class]="'status-'+incident.status.toLowerCase()"
          >
            {{ getIncidentStatusText(incident.status.toLowerCase()) }}
          </span>
        </div>
      </div>

      <div class="incident-content">
        <h4>{{ getIncidentTypeText(incident.type.toLowerCase()) }}</h4>
        <div class="incident-agency-container">
          <p class="incident-agency">
            <span class="agency-label">Agence: </span>
            {{incident?.agencyId?.name }}
          </p>
          @if(incident.clientId){
          <div
            class="incident-assignment status-badge"
            [class]="'status-success'"
            *ngIf="incident.clientId._id"
          >
            <i class="material-icons">person</i>
            <span
              >Client(e) {{ incident.clientId.firstName }} {{
              incident.clientId.lastName }}</span
            >
          </div>
          }
        </div>

        <p class="incident-description">{{ incident.comment }}</p>
        <p class="incident-date">
          {{ incident.createdAt | date : "dd/MM/yyyy à HH:mm" }}
        </p>
      </div>

      <div class="incident-assignment" *ngIf="incident.collectorId?._id">
        <i class="material-icons">person</i>
        <span
          >Assigné à {{ incident.collectorId?.firstName }} {{
          incident.collectorId?.lastName }}</span
        >
      </div>

      <!-- Affichage des photos -->
      @if (incident.photos && incident.photos.length && showPicture) {
      <div class="report-photos">
        @for (photo of incident.photos; track photo) {
        <img
          [src]="photo"
          alt="Photo du signalement"
          class="report-photo circular-image"
          (click)=" currentUser?.role === 'client' ? null : openImageModal(photo, incident)"
        />
        }
      </div>
      } @if ((!incident.photos || !incident.photos.length) && showPicture) {
      <div>
        <p><em>Aucune photo associée</em></p>
      </div>
      }
    </div>
    <div class="incident-actions">
      @if(incident.agencyId && currentUser?.role === 'manager') {
      <div class="incident-actions">
        <button class="btn btn-primary" (click)="assignIncident(incident)">
          <i class="material-icons">assignment_ind</i>
          Assigner
        </button>
        @if (!incident.collectorId?._id) {
        <button class="btn btn-accent" (click)="openAssignModal(incident)">
          <i class="material-icons">assignment_ind</i>
          Traiter
        </button>
        } @if (!incident.collectorId?._id) {
        <button class="btn btn-success" (click)="resolveIncident(incident._id)">
          <i class="material-icons">check</i>
          Résoudre
        </button>
        }

        <button class="btn btn-accent" (click)="showPictures()">
          <i class="material-icons"
            >{{ showPicture ?' visibility_off' : 'visibility'}}</i
          >
          {{ showPicture ?'Masquer photos':'Voir photos'}}
        </button>
      </div>
      }
      <!-- <button
        class="btn btn-primary"
        (click)="investigateIncident(incident.id)"
        *ngIf="incident.status === 'pending'"
        >
        <i class="material-icons">search</i>
        Enquêter
        </button> -->
      <!-- <button
            class="btn btn-success"
            (click)="resolveIncident(incident.id)"
            *ngIf="incident.status === 'resolved'"
        >
            <i class="material-icons">check</i>
            Résoudre
        </button> -->
      @if(currentUser?.role !== 'manager') {

      <button
        class="btn btn-accent"
        (click)="contactAgencyForIncident(incident?.agencyId?._id)"
      >
        <i class="material-icons">phone</i>
        Contacter Agence
      </button>
      <button class="btn btn-success" (click)="showPictures()">
        <i class="material-icons"
          >{{ showPicture ?' visibility_off' : 'visibility'}}</i
        >
        {{ showPicture ?'Masquer photos':'Voir photos'}}
      </button>
      }
    </div>
  </div>
</div>
@if (selectedImage) {
<div class="drawer-overlay" (click)="closeImageModal()">
  <div class="drawer-content" (click)="$event.stopPropagation()">
    <div class="drawer-header">
      <h3>Photo du signalement</h3>
      <button class="drawer-close-btn" (click)="closeImageModal()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="drawer-body">
      <!-- Zone d'affichage des erreurs améliorée -->
      @if(incidentSelected?.comment){
      <p class="incident-description">{{incidentSelected?.comment}}</p>
      } @if(incidentSelected?.clientId){
      <p class="incident-date">
        Signalé par: {{incidentSelected?.clientId?.firstName}}
        {{incidentSelected?.clientId?.lastName}} le
        {{incidentSelected?.createdAt | date : "dd/MM/yyyy à HH:mm"}}
      </p>
      }
      <img
        [src]="selectedImage"
        alt="Image en plein écran"
        class="full-image"
      />
    </div>
    <div class="drawer-footer">
      <div class="drawer-actions">
        <button class="btn btn-primary" (click)="closeImageModal()">
          <i class="material-icons">cancel</i>
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
}
